.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #1c1731, #13111f);
}

.app-header {
  padding: var(--spacing-lg);
  color: var(--text-primary);
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgb(255 255 255 / 2%);
  border-bottom: 1px solid rgb(255 255 255 / 5%);
}

.app-header h1 {
  margin: 0;
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: 600;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: var(--spacing-lg);
}

@media (width >= 768px) {
  .app-header {
    padding: var(--spacing-xl);
  }

  main {
    padding: var(--spacing-xl);
  }
}

@media (width >= 1024px) {
  main {
    padding: calc(var(--spacing-xl) * 1.5);
  }
}
