:root {
  /* Typography */
  font-family: Inter, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  /* Layout */
  width: 100%;
  min-height: 100vh;

  /* Box model */
  margin: 0;
  background-color: var(--primary-bg);

  /* Visual */
  color: var(--text-primary);
}

#root {
  /* Layout */
  width: 100%;
  min-height: 100vh;

  /* Box model */
  margin: 0;
  padding: 0;
}

h1 {
  /* Visual */
  color: var(--text-primary);

  /* Typography */
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--primary-bg);

    /* Visual */
    color: var(--text-primary);
  }
}
